@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: rgb(255, 255, 255);
  --background: rgb(40, 39, 39);
}

body {
  color: var(--foreground);
  background: var(--background);
}
